body{
    background-color: #C5DEEB;
}


div#nav{
    float: right;
    background-color: white;
    margin: 15px 10px 10px 10px;
}

div#nav ul{
    /*only 10px on right to make up for right margin on LI*/
    padding: 5px; 
}

div#nav li{
    display: inline;
    font-family: verdana;
    font-size: 10px;
    margin-right: 5px;
}

a, a:visited{
    text-decoration: none;
    color: blue;
}

a:hover{
    text-decoration: underline;
}

div#content{
    width: 825px;
    margin: 0px 10px 10px 10px;
    background-color: white;
    border: 1px solid;
    border-color: #FBD5D6;
    min-height: 375px;
    clear: both;
}

/*rounded corners*/
div#content, div#nav{
    -moz-border-radius: 5px;
    border-radius: 5px;
}

img#feedback{
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
}

ul#tabs{
    position: absolute;
    top: 20px;
    left: 70px;
    z-index: 1;
}

ul#tabs li{
    float: left;
    text-align: center;
    width: 265px;
    height: 30px;
}

ul#tabs li a, div#content h3{
    font-family: georgia;
    font-size: 18px;
}

div#content h2{
    color: #F4A3A6;
    font-family: verdana;
    font-size: 48px;
    padding: 0px 10px; /*should match li.blurb padding left*/
}

li#clientname{
    overflow: hidden;
}

li#manage{
    margin-left: 30px;
}

div#content{
    padding: 30px;
}

/*float all of these so they stay containing blocks so the heights don't shrink to nothing.*/
div#body, div#content{
    float: left;
}
