{% extends "base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/clients/create.css" />
{% endblock %}

{% block content %}
<h2>Add a client.</h2>

{{ form.errors }}
<form method="post" action="{% url webapp.clients.views.create %}">
  <table>
    <tr>
      <td>{{ form.name.label_tag }}</td>
    </tr>
    <tr>
      <td class="textinput">{{ form.name }}</td>
    </tr>
 </table>
  <p>
 <input type="submit" value="Create client" /> or <a class="cancel" href="{% url webapp.clients.views.show %}">cancel</a>
 </p>
</form>

 {% endblock %}