{% extends "base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/clients/clients.css" />
{% endblock %}

{% block tabs %}
{% endblock %}

{% block content %}
<h2>Your clients</h2>
<h3>Add, edit or remove clients.</h3>
<ul id="clients">
  {% include "clients/show-inner.html" %}
  <li id="clearli"></li>
</ul>
<a id="addclient" href="{% url webapp.clients.views.create %}">Add a new client.</a>
{% endblock %}

{% block scripts %}
<script src="{{MEDIA_URL}}javascript/clients/clients.js"></script>
{% endblock %}