{% extends "base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL}}css/account/registration/password-change-form.css" />
{% endblock %}

{% block tabs %}
{% endblock %}

{% block content %}
<h2>Password change</h2>
<h3>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</h3>
<div id="theform">
  
  <form class="large" action="" method="post">
  <table>
    <tbody>
      <tr>
	<td>
	  <label for="id_old_password">Old password:</label>
	</td>
	<td class="right textinput">
	  {{ form.old_password }}
	  {{ form.old_password.errors }}
	</td>
      </tr>
      <tr>
	<td>
	  <label for="id_new_password1">New password:</label>
	</td>
	<td class="right textinput">
	  {{ form.new_password1 }}
	  {{ form.new_password1.errors }}
	</td>
      </tr>
      <tr>
	<td>
	  <label for="id_new_password2">Confirm password:</label>
	</td>
	<td class="right textinput">
	  {{ form.new_password2 }}
	  {{ form.new_password2.errors }}
	</td>
      </tr>
    </tbody>
  </table>
  <p><input class="submit" type="submit" value="Change my password" /></p>
  </form>
</div>
{% endblock %}