{% extends "base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/account/registration/password-reset-confirm.css" />
{% endblock %}

{% block tabs %}
{% endblock %}

{% block content %}
{% if validlink %}

<h2>Enter new password</h2>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form action="" method="post">
<table>
  <tbody>
    <tr>
      <td>
	<label for="id_new_password1">New password:</label>
      </td>
      <td class="textinput">
	{{ form.new_password1 }}
	{{ form.new_password1.errors }}
      </td>
    </tr>
    <tr>
      <td>
	<label for="id_new_password2">Confirm password:</label>
      </td>
      <td class="textinput">
	{{ form.new_password2 }}
	{{ form.new_password2.errors }}
      </td>
    </tr>
  </tbody>
</table>
<p><input type="submit" value="Change my password" /></p>
</form>

{% else %}

<h2>Password reset unsuccessful</h2>

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset
<a href="{% url django.contrib.auth.views.password_reset %}">here</a>.</p>

{% endif %}

{% endblock %}
