{% extends "base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/account/registration/password-reset-form.css" />
{% endblock %}

{% block tabs %}
{% endblock %}

{% block content %}
<h2>Password reset</h2>

<h3>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</h3>

<form action="" method="post">
<table>
  <tbody>
    <tr>
      <td>
	<label for="id_email">E-mail address:</label>
      </td>
      <td class="textinput">
	{{ form.email }}
	{{ form.email.errors }}
      </td>
    </tr>
  </tbody>
</table>
<input type="submit" value="Reset my password" /></p>
</form>

{% endblock %}
