ul#tabs{
    position: absolute;
    top: 20px;
    left: 70px;
}

img#tabimage{
    position: absolute;
    top: 9px;
    left: 40px;
}

ul#tabs li{
    float: left;
    text-align: center;
    width: 265px;
    height: 30px;
}

ul#tabs li a, div#content h3{
    font-family: georgia;
    font-size: 18px;
}

div#content h2{
    color: #F4A3A6;
    font-family: verdana;
    font-size: 48px;
    padding-left: 10px; /*should match li.blurb padding left*/
}

li#clientname a{
    color: #AB1F27;
    white-space: nowrap;
}

li#clientname{
    overflow: hidden;
}

li#manage{
    margin-left: 30px;
}

li#manage a{
    color: #979495;
}

div#content{
    padding: 30px;
}

/*float all of these so they stay containing blocks so the heights don't shrink to nothing.*/
div#content, div.blurb, li.blurb, ul#blurbs, div.links{
    float: left;
}

li.blurb{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 5px 0px 5px 10px;
    margin-right: -10px;
}

li.blurb:hover{
    background-color: #F0F0F1;
}

div.blurb{
    width: 85%;
}

div.links{
    width: 15%;
    margin-top: 15px; 
}

p.source, p.blurb{
    font-family: georgia;
    font-size: 12px;
    color: #636363;
    margin-top: 3px;
}

a.textbtn{
    font-family: georgia;
    font-size: 12px;
    color: #979495;
    padding: 5px 13px;
    /*same color as the content border*/
    border: 1px solid;
    border-color: #FAC9B5;
    background-color: white;
    margin-left: 20px;
    margin-right: 5px;
}

a.textbtn:hover{
    background-color: #F8FFC2;
    text-decoration: none;
}

li.blurb div.links a{ 
    display: block;
    float: left;
    text-align: center;
}

/*rounded corners*/
li.blurb, a.textbtn{
    -moz-border-radius: 5px;
    border-radius: 5px;
}
