ul#blurbs h3.time, a#olderlink, div#content h3.subtitle, div#content h2{
    padding-left: 40px;
}

div#inner{
    margin-left: -30px;
}


ul#blurbs h3.time{
    clear: both;
    font-family: georgia;
    font-size: 22px;
    padding-top: 35px;
    color: rgb(40, 40, 40);
}

li.irrelevant p, li.irrelevant a, div#content li.irrelevant h3 a.blurb{
    color: #DDDDDD;
    border-color: #DDDDDD;
}

li.irrelevant a.reject{
    background-image: none;
    color: #AB1F27;
    text-indent: 0;
    padding-top: 5px;
}

div#content li h3{
    padding: 0;
}

div#content li.visited h3 a{
    color: #879BCD;
}

div#content li.visited p{
    color: #BCBCBC;
}

div#content h2{
    color: #F4A3A6;
    font-family: verdana;
    font-size: 48px;
    margin-top: 10px;
}

div#content{
    padding-top: 15px;
}

/*float all of these so they stay containing blocks so the heights don't shrink to nothing.*/
div.blurb, li.blurb, ul#blurbs, div.links{
    float: left;
}

li.blurb{
    clear: left;
}

a#olderlink{
    margin-top: 15px;
    float: left;
}

li.blurb{
    width: 80%;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 5px 0px 5px 10px;
}

li.blurb:hover{
    background-color: #F0F0F1;
}

div.blurb{
    width: 90%;
}

div.links{
    width: 30px;
    height: 30px;
}

p.source, p.blurb{
    font-family: georgia;
    font-size: 12px;
    color: #636363;
    margin-top: 3px;
}

a.reject{
    background-image: url("/static/images/thumb.png");
    height: 25px;
    width: 24px;
    text-indent: -9999;
}

a.reject:hover{
    background-image: url("/static/images/thumb-hover.png");
}

a.reject{ 
    float: left;
    display: block;
}

/*css for the filter rules*/
p#filters{
    font-family: verdana;
    font-size: 12;
    color: #636363;
    float: right;
}

select.relfilter{
    display: none;
}

/*rounded corners*/
li.blurb{
    -moz-border-radius: 5px;
    border-radius: 5px;
}

a.visit{
    display: none;
}
