ul#blurbs{
    width: 100%;
}

ul#blurbs h3.time, a#olderlink, div#content h3.subtitle, div#content h2{
    padding-left: 40px;
}

div#inner{
    margin-left: -30px;
}


ul#blurbs h3.time{
    clear: both;
    font-family: georgia;
    font-size: 22px;
    padding-top: 35px;
    color: rgb(40, 40, 40);
    margin-bottom: 5px;
}

ul#blurbs h3.time span.detail{
    font-size: 12px;
}

div#content li h3{
    padding: 0;
}

div#content li.visited h3 a{
    color: #879BCD;
}

div#content li.visited p, div#content li.visited span{
    color: #BCBCBC;
}

div#content h2{
    color: #F4A3A6;
    font-family: verdana;
    font-size: 48px;
    margin-top: 10px;
}

div#content{
    padding-top: 15px;
}

/*float all of these so they stay containing blocks so the heights don't shrink to nothing.*/
div.blurb, li.blurb, ul#blurbs, div.links{
    float: left;
}

div.blurb{
    width: 90%;
}

a#olderlink{
    margin-top: 15px;
    float: left;
}

ul#blurbs li.relevant h3{
    color: #35B53D;
}

li.blurb{
    background-color: white;
    border: 1px solid rgb(240, 240, 240);
}

li.approved {
    background-color: #C9FFBF;
}

li.irrelevant{
    background-color: #FFCED5;
}

li.blurb{
    clear: left;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-bottom: 5px;
}

div.blurb{
    margin: 5px 0px;
}

div.links{
    width: 30px;
    margin-top: 5px;
}

span.source, p.blurb{
    font-family: georgia;
    font-size: 12px;
    color: rgb(40, 40, 40);
    margin-top: 3px;
}

span.source{
    font-weight: bold;
}

a.reject{
    background-image: url("/static/images/thumbs/thumb.png");
    margin-top: 2px;
}

a.approve{
    background-image: url("/static/images/thumbs/thumb-up.png");
}

li.rejected a.approve{
    background-image: url("/static/images/thumbs/thumbs-up-small.png")
}

li.rejected a.approve:hover{
    background-image: url("/static/images/thumbs/thumbs-up-small-hover.png")
}

li.approved a.reject{
    background-image: url("/static/images/thumbs/thumbs-down-small.png")
}

li.approved a.reject:hover{
    background-image: url("/static/images/thumbs/thumbs-down-small-hover.png")
}

a.reject, a.approve{
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    display: block;
    height: 25px;
    width: 24px;
    text-indent: -9999px;
}

a.reject:hover{
    background-image: url("/static/images/thumbs/thumb-hover.png");
}

a.approve:hover{
    background-image: url("/static/images/thumbs/thumb-up-hover.png");
}

/*css for the filter rules*/
p#filters{
    font-family: verdana;
    font-size: 12;
    color: #636363;
    float: right;
    /*Added for IE7 problem with floating this thing to the right.
    it makes it too short (for some reason) so the letters are partially
    hidden.*/
    padding-bottom: 5px;
}

select.relfilter{
    display: none;
}

/*rounded corners*/

li.blurb{
    -moz-border-radius: 5px;
    border-radius: 5px;
}

a.visit{
    display: none;
}
