img#tabimage{
    position: absolute;
    top: 9px;
    left: 40px;
}

li.irrelevant p, li.irrelevant a, div#content li.irrelevant h3 a.blurb{
    color: #DDDDDD;
    border-color: #DDDDDD;
}

li.irrelevant a.relevance{
    background-image: none;
    color: #AB1F27;
    text-indent: 0;
    padding-top: 5px;
}

div#content li.visited h3 a{
    color: #879BCD;
}

div#content li.visited p{
    color: #BCBCBC;
}

div#content h2{
    color: #F4A3A6;
    font-family: verdana;
    font-size: 48px;
    padding-left: 10px; /*should match li.blurb padding left*/
}

li#clientname a{
    color: #AB1F27;
    white-space: nowrap;
}


li#manage a{
    color: #979495;
}

div#content{
    padding: 15px 30px 30px 30px;
}

/*float all of these so they stay containing blocks so the heights don't shrink to nothing.*/
div.blurb, li.blurb, ul#blurbs, div.links{
    float: left;
}

a#olderlink{
    margin-top: 15px;
    float: left;
}

li.blurb, a#olderlink{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 5px 0px 5px 10px;
    margin-right: -10px;
}

li.blurb:hover{
    background-color: #F0F0F1;
}

div.blurb{
    width: 80%;
}

div.links{
    width: 20%;
    margin-top: 15px; 
}

p.source, p.blurb{
    font-family: georgia;
    font-size: 12px;
    color: #636363;
    margin-top: 3px;
}

a.textbtn{
    margin-right: 5px;
}

a.relevance{
    background-image: url("/static/images/thumb.png");
    height: 25px;
    width: 24px;
    text-indent: -9999;
}

a.relevance:hover{
    background-image: url("/static/images/thumb-hover.png");
}

li.blurb div.links a{ 
    display: block;
    float: left;
    text-align: center;
}


/*css for the filter rules*/
p#filters{
    font-family: verdana;
    font-size: 12;
    color: #636363;
    float: right;
}

select.relfilter{
    display: none;
}

/*rounded corners*/
li.blurb{
    -moz-border-radius: 5px;
    border-radius: 5px;
}

a.visit{
    display: none;
}
