div#theform, div#content h3{
    margin-left: 10px;
}

div#theform{
    margin-top: 30px;
}

div#theform form{
    margin-top: 20px;
}

td.right input {
    border: 2px solid #FAC9B5;
    padding: 5px 0px 5px 5px;
    width: 300px;
}

ul.errorlist li, div#theform input, div#theform label{
    font-family: georgia;    
}

ul.errorlist li{
    font-size: 12px;
    color: #AB1F27;
}

div#theform input, div#theform label{
    font-size: 21px;
    color: #474646;
}

div#theform table tr{
    height: 70px;
}


