div#content h2{
    margin-bottom: 30px;
}

div#content form{
    margin-top: 10px;
}

div#content form tr{
    height: 50px;
}

div#content p{
    font-family: georgia;
    font-size: 14px;
    color: rgb(40, 40, 40);
}