{% extends "base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/feed/show.css" />
{% endblock %}


{% block content %}
<img id="tabimage" src="{{ MEDIA_URL }}images/main-tabs.png" />
<p id="filters">
Showing <select name="relfilter" class="relfilter">
  <option value="only relevant">only relevant</option>
  <option value="only irrelevant">only irrelevant</option>
  <option value="all">all</option>
</select>
  <a href="/" class="relfilter">only relevant</a> alerts.
</p>

<ul id="blurbs">
{% include "feed/show-inner.html" %}
</ul>

{% if not olderind %}
<a id="olderlink" href="{%url webapp.feed.views.older client.id %}">Older alerts</a>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{MEDIA_URL}}javascript/feed/feed.js"></script>
{% endblock %}