{% extends "client-nav.html" %}

{% block css %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/feed/show.css" />
{% endblock %}


{% block content %}
<p id="filters">
Showing <select name="relfilter" class="relfilter">
  {% for option in options %}
  <option {% if option.selected %}selected="{{ option.selected }}" {% endif %} value="{{ option.value }}">{{ option.text }}</option>
    {% endfor %}
</select>
  <a href="{%url webapp.feed.views.show_ajax client.id %}" class="relfilter">{{ selectedtext }}</a> alerts.
</p>

<ul id="blurbs">
{% include "feed/show-inner.html" %}
</ul>

{% if not olderind %}
<a id="olderlink" href="{%url webapp.feed.views.older client.id %}">Older alerts</a>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{MEDIA_URL}}javascript/feed/feed.js"></script>
{% endblock %}