{% extends "base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/feed/show.css" />
{% endblock %}


{% block content %}
<img id="tabimage" src="{{ MEDIA_URL }}images/main-tabs.png" />
<ul id="blurbs">
  {% if todays %}
  <h2>Today</h2>
  {% for blurb in todays %}
  <li class="blurb{% if blurb.visited %} visited{% endif %}">
  {% include 'blurb/blurb.html' %}
  </li>
  {% endfor %}
  {% endif %}

  {% if yesterdays %}
  <h2>Yesterday</h2>
  {% for blurb in yesterdays %}
  <li class="blurb">
  {% include 'blurb/blurb.html' %}
  </li>
  {% endfor %}
  {% endif %}

  
  {% if older %}
  <h2>Older</h2>
  {% for blurb in older %}
  <li class="blurb">
  {% include 'blurb/blurb.html' %}
  </li>
  {% endfor %}
  {% endif %}

  

</ul>
{% endblock %}

{% block scripts %}
<script src="{{MEDIA_URL}}javascript/feed/feed.js"></script>
{% endblock %}