{% extends "client-nav.html" %}

{% block css %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/alerts/manage.css" />
{% endblock %}

{% block content %}
<h2>Search Terms</h2>
<h3>What should we be looking for?</h3>

<ul id="alerts">
 {% include "alerts/list.html" %}
</ul>
<div id="add">
  <a id="addlink" href="/">Add a new term.</a>
  <form id="addform" method="post" action="">
  <input type="text" class="textinput" name="term" value="Type a new search term here."/>
  </form>
<div id="formlinks">
  <a id="addterm" href="{%url webapp.alerts.views.create client.id%}">+ Add this term</a>
<div id="canceladd">
  <a href="/">Close</a>
</div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{MEDIA_URL}}javascript/manage/manage.js"></script>
{% endblock %}