<head>

<title>
{% block title %}
Lookout
{% endblock %}
</title>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" />
{% block css %}
{% endblock %}
</head>

<body>

<div id="body">
<div id="nav">
  <ul>
    <li><a href="/">My Clients</a></li>
    <li><a href="/">Preferences</a></li>
    <li><a href="/">Profile</a></li>
    <li><a href="/">Help</a></li>
    <li><a href="/">Logout</a></li>
  </ul>
</div>

<div id="content">
  <ul id="tabs">
  <li id="clientname">
  <h1><a href="{{ client.feed }}">{{ client.name }}</a></h1>
  </li>
  <li id="manage">
  <h1><a href="{{ client.manage }}">Manage</a></h1>
  </li>
</ul>
  {% block content %}
  {% endblock %}
  <a href="/"><img id="feedback" src="{{ MEDIA_URL }}images/feedback.png" /></a>
</div>
</div>

<script src="{{MEDIA_URL}}javascript/jquery-1.4.2.js"></script>
{% block scripts %}
{% endblock %}
</body>
