<head>
<!-- Mimic Internet Explorer 7 -->
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" >
<title>
{% block title %}
Lookout
{% endblock %}
</title>
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/common.css" />
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" />
{% block css %}
{% endblock %}
</head>

<body>

<div id="body">
  
{% block nav %}
<div id="nav">
  <ul>
    {% if user.is_authenticated %}
    <li><a href="{%url webapp.clients.views.show %}">My Clients</a></li>
    <li><a href="{% url webapp.account.views.profile %}">Profile</a></li>
    {% endif %}
    <li><a href="{% url faq %}">Help</a></li>
    <li><a href="{% url contact %}">Contact Us</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url django.contrib.auth.views.logout_then_login %}">Logout</a></li>
    {% else %}
    <li><a href="{% url django.contrib.auth.views.login %}">Login</a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}

<div id="content">
 {% block content %}
  {% endblock %}
  <a id="feedback" href="{% url contact %}"><img src="{{ MEDIA_URL }}images/feedback.png" /></a>
</div>
</div>

<script src="{{MEDIA_URL}}javascript/jquery-1.4.2.js"></script>
{% block scripts %}
{% endblock %}
</body>
