div#content form{
    margin-top: 30px;
}

div#content form table{
    margin-bottom: 15px;
}

div#content form table tr{
    height: 50px;
}

div#content table p{
    font-family: georgia;
    font-size: 21px;
    margin-left: 5px;
    color: rgb(40, 40, 40);
}
