div#content{
    overflow: hidden;
}

div#content h3, div.client, a#addclient{
    padding-left: 10px;
}

div.client{
    overflow: hidden;
    max-width: 70%;
    float: left;
}

div.links{
    float: right;
}

div#content h3 {
    color: #A09C9C;
    font-family: verdana;
    font-size: 14px;
}

li.client{
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    clear: left;
    width: 100%;
    margin-top: 10px;
    padding: 15px 0px;
}

li.client:hover{
    background-color: #F0F0F1;
}

li.client p{
    font-family: georgia;
    color: #474646;
    font-size: 21px;
}

ul#clients{
    margin: 20px 0px;
}

li.client p{
    clear: left;
    float: left;
}

li.client a{
    float: right;
    margin-left: 10px;
}

div.links{
    margin-right: 10px;
}

div.links a:hover{
    background-color: #F8FFC2;
    text-decoration: none;
}

div.links a{
    border: 1px solid #FAC9B5;
    padding: 5px 10px;
    width: 50px;
    display: block;
    text-align: center;
    float: left;
    font-family: georgia;
    font-size: 14px;
    color: #A09C9C;
    background-color: white;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#clearli{
    clear: both;
}