div#content{
    overflow: hidden;
}

div#content h3, div.client, a#addclient{
    padding-left: 10px;
}

div.client, div.links{
    height: 40px;
    padding-top: 15px;
}

div.client{
    overflow: hidden;
    max-width: 70%;
    float: left;
}

div.links{
    float: right;
}

div#content h3 {
    color: #A09C9C;
    font-family: verdana;
    font-size: 14px;
}

li.client{
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    clear: left;
    width: 100%;
    margin-top: 10px;
}

li.client:hover{
    background-color: #F0F0F1;
}

li.client p{
    font-family: georgia;
    color: #474646;
    font-size: 21px;
}

ul#clients{
    margin: 20px 0px;
}

li.client p{
    clear: left;
    float: left;
}

li.client a{
    float: right;
    margin-left: 10px;
}

div.links{
    margin-right: 10px;
}

#clearli{
    clear: both;
}