
img#tabimage{
    position: absolute;
    top: 0px;
    left: 40px;
}

div#content h3{
    color: #A09C9C;
    font-family: verdana;
    font-size: 14px;
}

li#clientname a{
    color: #979495;
    white-space: nowrap;
}

li#manage a{
    color: #AB1F27;
}

ul#alerts{
    margin-top: 30px;
    width: 60%;
}

ul#alerts, ul#alerts li, div.term, div#add, div#canceladd{
    float: left;
}

div.links{
    float: right;
}

div.term{
    width: 60%;
}

div.links a, a#addterm{
    border: 1px solid #FAC9B5;
    padding: 5px 10px;
    width: 50px;
    display: block;
    text-align: center;
    float: left;
    font-family: georgia;
    font-size: 14px;
    color: #A09C9C;
    background-color: white;
}

div.links a:hover{
    background-color: #F8FFC2;
    text-decoration: none;
}

a.edit{
    margin-right: 10px;
}

div.term p, div.form input, div#add input{
    font-family: georgia;
    font-size: 21px;
    color: #474646;
}


div.term p, div.links{
    /*seven pixels so it lines up perfectly with the edit box*/
    padding: 7px 0px;
}

ul#alerts li{
    width: 100%;
    padding: 15px 10px;
}

ul#alerts li:hover{
    background-color: #F0F0F1;
}

div#add{
    clear: left;
    width: 60%;
    margin-top: 30px;
}

div#add form, div#formlinks{
    display: none;
}

div#add form input{
    border: 2px solid #FAC9B5;
    width: 100%;
    /*left, right padding should be same as alerts li*/
    padding: 5px 0px 5px 10px;
}

div#formlinks{
    margin-top: 20px;
}

a#addterm{
    background-color: #DBDBDB;
    color: #474646;
    border-color: #9A9A9A;
    width: 100px;
}

div#canceladd{
    padding: 5px 10px;
}

/*** editing styles ***/

ul#alerts li.editing{
    padding-left: 0;
}

div.form input{
    width: 100%;
    /*three pixels because of 2 pixel border -- should add to 10*/
    padding: 5px 7px;
    border: 2px solid #FAC9B5
}

div.save a{
    float: right;
    margin-right: 10px;
    padding-top: 5px;
}

ul#alerts li.editing:hover{
    background-color: white;
}

div.editing{
    display: none;
}

li.editing div.editing{
    display: block;
}

li.editing div.term, li.editing div.links{
    display: none;
}


div#content h3, a#addlink{
    padding-left: 10px;
}

/*rounded corners*/
ul#alerts li, div.links a, div#formlinks a{
    -moz-border-radius: 5px;
    border-radius: 5px;
}


