{{ form.errors }}
<form method="post" action="{% url webapp.account.views.create %}">
  <table>
    <tr>
      <td>{{ form.email.label_tag }}</td>
      <td>{{ form.email }}</td>
    </tr>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
    <tr>
      <td>Enter your password again.</td>
      <td>{{ form.repassword }}</td>
    </tr>
  </table>
  <input type="submit" value="login" />
</form>




