{% extends "base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/account/login.css" />
{% endblock %}

{% block content %}
<h2>Login</h2>


<form id="login" method="post" action="{% url django.contrib.auth.views.login %}">
  <table>
    {% if form.errors %}
    <tr class="error">
      <td class="left">
      </td>
      <td class="right">
	<p class="error">Your username and password didn't match. Please try again.</p>
      </td>
    </tr>
    {% endif %}
   <tr>
      <td class="left">
	<label>
	  Username or email address
	</label>
      </td>
      <td class="right">
	{{ form.username }}
      </td>
    </tr>
    <tr>
      <td class="left">
	  {{ form.password.label_tag }}
     </td>
      <td class="right">
	{{ form.password }}
      </td>
    </tr>
    <tr class="submit">
      <td>
      </td>
      <td>
	<input type="submit" value="Sign in" />
	<a href="{% url django.contrib.auth.views.password_reset %}">Forget your password?</a>
      </td>
    </tr>
  </table>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}